:root {
    --primary-color: #FFFFFF;
    --secondary-color: #662f32;
    --tertiary-color: #645955;

    --text-color: #000000;
    --text-color-light: #f5f5f5;
    --text-color-dark: #662f32;
    --text-color-gray: #272727;
}
